<div class="list-group">
    <div *ngFor="let item of listaSorteos">
        <span class="list-group-item list-group-item-action active">{{item.nombre}}</span>
        <div class="row">
            <div class="col-3">
                <img [src]="item.imagen" [alt]="item.nombre" class="p-3" width="100" height="100">
            </div>
            <div class="col-6 mt-3">
                <div class="row">
                    <div class="col-12">
                        <span>{{item.nombre}}</span>
                    </div>
                    <div class="col-12">
                        <span class="score" *ngFor="let item of item.numeros">
                            {{item}} </span>
                    </div>
                </div>
            </div>
            <div class="col-3 mt-3 float-right">
                <span
                    [ngClass]="{'currentDate': IsCurrentDate(item.fecha), 'noCurrentDate': !IsCurrentDate(item.fecha)}">{{item.fecha}}</span>
            </div>
        </div>
    </div>
</div>
<app-loanding></app-loanding>
