<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/']">Loterias</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/nacional']" routerLinkActive="active">Nacional</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/leidsa']" routerLinkActive="active">Leidsa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/loteka']" routerLinkActive="active">Loteka</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/real']" routerLinkActive="active">Real</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/laPrimera']" routerLinkActive="active">La primera</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/loteDom']" routerLinkActive="active">Lote Dom</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/laSuerte']" routerLinkActive="active">La suerte</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/americanas']" routerLinkActive="active">Americanas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/anguila']" routerLinkActive="active">Anguila</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/KingLottery']" routerLinkActive="active">King Lottery</a>
                </li>
            </ul>
            <!--form class="d-flex">
                <input class="form-control me-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form-->
        </div>
    </div>
</nav>